* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
#chat-send-div {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#chat-send-div input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
#chat-send-div button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
#client-text {
  margin-left: 511px;
  margin-top: 10px;
  padding: 5px 6px 5px 8px;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: #da81eb;
}
#server-text {
  margin-left: 25px;
  margin-top: 10px;
  padding: 5px 6px 5px 8px;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: #66cef3;
}
